<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserDAO">
<!-- "egovframework.mapper.let.uat.uia.userMapper" -->

<!-- 회원 관련 mapper  -->
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="egovframework.com.cmm.UserVO">
    INSERT INTO user (
				    	user_id
				    	, password
				    	, user_name
				    	, email
				    	, phone
				    	, created_at
    				  )
    VALUES (
		    	#{userId}
		    	, #{password}
		    	, #{userName}
		    	, #{email}
		    	, #{phone}
		    	, NOW()
	    	)
	</insert>
</mapper>